click==8.1.2
colorama==0.4.4
flask>=2.2.5
gunicorn>=23.0.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2>=3.1.6
joblib>=1.2.0
MarkupSafe==2.1.1
numpy==1.22.3
scikit-learn>=1.5.0
scipy==1.8.0
sklearn==0.0
threadpoolctl==3.1.0
Werkzeug>=3.0.6
zipp>=3.19.1
