<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    
    <h1>Modivashannnnnnn</h1>

    <p>Please Enter your text</p>

    <form action="/" method="POST">
        <input type="text" name="incoming_text">
        <input type="submit" value="submit">
    </form>

    {% if p %}
        <h2>Your text belongs to the category : {{ p }}</h2>
    {% endif %}
    
</body>
</html>